// Purple Rain by whoneycutt https://color.adobe.com/Purple-Rain-color-theme-50004/
@purple1: #25064C;
@purple2: #36175E;
@purple3: #553285;
@purple4: #7B52AB;
@purple5: #9768D1;

@footer-height: 50px;
// offset for fixed navbar
body {
  padding-top: 50px;
  padding-bottom: 50px;
}
// undo bootstrap defaults
h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}
a {
  color: @purple3;
}
a:hover {
  text-decoration: none;
  color: @purple4;
}
.bold {
  font-weight: 700;
}
.italics {
  font-style: italic;
}
.sub-header {
  background: @purple4;
  color: #FFF;
  a {
    color: #FFF;
  }
}
.right-button {
  margin-right: 10px;
}
.main-navigation.navbar-inverse {
  background: @purple1;
  .navbar-brand {
    font-size: 2em;
  }
  .navbar-nav>li>a, .navbar-brand, .toggle-bars {
    color: #FFFFFF;
  }
  .navbar-toggle:focus, .navbar-toggle:hover {
    background: @purple2;
  }
  .navbar-toggle {
    padding: 0.5em 1em 0.25em;
    border: 0;
  }
  .toggle-bars {
    font-size: 1.5em;
    transform:scale(1.5,1);
    -webkit-transform:scale(1.5,1);
  }
}
.message-entry {
  position: fixed;
  bottom: @footer-height + 10px;
  width: 100%;
  padding-top: 10px;
  background: #EFEFEF;
  border-top: 1px solid #CCC;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: @footer-height;
  background-color: @purple1;
  small {
    color: #FFF;
  }
}
