// Purple Rain by whoneycutt https://color.adobe.com/Purple-Rain-color-theme-50004/
@purple1: #25064C;
@purple2: #36175E;
@purple3: #553285;
@purple4: #7B52AB;
@purple5: #9768D1;

@footer-height: 50px;
// offset for fixed navbar
body {
  padding-top: 96px;
  padding-bottom: 54px;
}
// undo bootstrap defaults
h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}
a {
  color: @purple3;
}
a:hover {
  text-decoration: none;
  color: @purple4;
}
.clickable {
  cursor: pointer;
}
.bigger {
  font-size: 1.2em;
}
.btn-purple {
  color: #FFFFFF;
}
.btn-purple, .btn-purple:hover, .btn-purple:active, .btn-purple:focus {
  background-image: -webkit-linear-gradient(top,@purple4 0,@purple2 100%);
  background-image: -o-linear-gradient(top,@purple4 0,@purple2 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(@purple4),to(@purple2));
  background-image: linear-gradient(to bottom,@purple4 0,@purple2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7B52AB', endColorstr='#ff36175E', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: @purple1;
}
.btn-purple:hover, .btn-purple:active, .btn-purple:focus {
  color: #DDDDDD;
}
.bold {
  font-weight: 700;
}
.italics {
  font-style: italic;
}
.row.sub-header {
  position: fixed;
  right: 0;
  left: 0;
  top: 50px;
  margin: 0;
  background: @purple4;
  color: #FFF;
  z-index: 1000;
  a {
    color: #FFF;
  }
}
.right-button {
  margin-right: 10px;
}
.main-navigation.navbar-inverse {
  background: @purple1;
  .navbar-brand {
    font-size: 2em;
  }
  .navbar-nav>li>a, .navbar-brand, .toggle-bars {
    color: #FFFFFF;
  }
  .navbar-toggle:focus, .navbar-toggle:hover {
    background: @purple2;
  }
  .navbar-toggle {
    padding: 0.5em 1em 0.25em;
    border: 0;
  }
  .toggle-bars {
    font-size: 1.5em;
    transform:scale(1.5,1);
    -webkit-transform:scale(1.5,1);
  }
}
.top-alert {
  margin-top: 1em;
}
.main-content {
  margin-top: 3em;
}
.vertical-buttons {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  .input-group {
    width: 100%;
    margin: 1.5em 0;
  }
  .btn {
    font-size: 1.5em;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  .panel-title {
    font-size: 2em;
  }
}
.thread-container {
  margin-bottom: 0;
}
.list-group.message-thread {
  margin-bottom: 0;
}
.message-entry {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background: #EFEFEF;
  border-top: 1px solid #CCC;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  height: @footer-height;
  background-color: @purple1;
  small {
    color: #FFF;
  }
}
