<main-navigation></main-navigation>
<div class="container-fluid thread-container" id="thread-container">
  <div class="row sub-header">
    <div class="col-xs-12">
      <h3 class="text-center">
        <span class="pull-left clickable" ng-click="vm.onClickBack()"><i class="fa fa-chevron-left"></i></span>
        Contacts
        <span ng-click="vm.addContactPopup()" class="pull-right clickable"><i class="fa fa-user-plus"></i></span>
      </h3>
    </div>
  </div>
  <div ng-show="vm.alertMessage" class="alert alert-warning alert-dismissible top-alert" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{ vm.alertMessage }}
  </div>
  <section ng-show="!vm.hasContacts" class="jumbotron full-width-jumbo">
      <h2 class="text-purple">Welcome, {{ vm.accountName }}!</span></h3>
      <p>Find your friends, family and co-workers on WeMessage. Just search by email, and get connected now!</p>
        <button class="btn btn-purple pull-right" ng-click="vm.addContactPopup()">Find Contacts</button>
  </section>
  <ul class="row list-group contacts-list" id="contacts-list">
    <a ng-repeat="contact in vm.contacts" ng-href="{{ contact.conversationUrl }}">
      <li class="col-xs-12 list-group-item">
        <span class="contact-name bold">{{ contact.name }}</span>
        <br>{{ contact.latestMessage.content | limitTo : 50 }}&nbsp;<span class="pull-right"><small>{{ contact.latestMessage.created_at | date: 'mediumDate' }}</small> <i class="fa fa-chevron-right contact-arrow"></i></span>
      </li>
    </a>
  </ul>
</div>
<main-footer></main-footer>
