<main-navigation></main-navigation>
<div class="container-fluid">
  <header class="row sub-header">
    <div class="col-xs-12 text-center">
      <h3>
        You message, I message. WeMessage!
      </h3>
    </div>
  </header>
  <div class="jumbotron full-width-jumbo">
      <h2 class="text-purple">Free. Secure. <span class="italics">Open to all.</span></h3>
      <p>
        Make new connections and keep up with old friends! Get started by joining a chat, or create an account and find your friends and family that are already using WeMessage.<br>
        You can converse confidently in our public chats - nothing you say is logged, stored, or sold to anyone, ever.<br>
        Conversations with your contacts are kept in our secure servers, for your and their eyes only.<br>
        Get connected and have lots of fun!
      </p>
  </div>
  <section class="main-content">
    <div class="row">
      <div class="col-sm-6">
        <article class="panel panel-default vertical-buttons">
          <div class="panel-heading text-center">
            <h3 class="panel-title">Get Started</h3>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <button type="button" ng-click="vm.newChatPopup()" class="btn btn-purple">Open New Chat</button>
            </div>
            <div class="input-group">
              <button type="button" ng-click="vm.loginPopup()" class="btn btn-default">Log In</button>
            </div>
            <div class="input-group">
              <button type="button" ng-click="vm.registrationPopup()" class="btn btn-warning">Register</button>
            </div>
          </div>
        </article>
      </div>
      <div class="col-sm-6">
        <article class="panel panel-default vertical-buttons">
          <div class="panel-heading text-center">
            <h3 class="panel-title">Join the Conversation</h3>
          </div>
          <div class="panel-body">
            <div class="input-group">
              <a ng-href="/#/chat/current-events">
                <button type="button" class="btn btn-purple">Current Events</button>
              </a>
            </div>
            <div class="input-group">
              <a href="/#/chat/sports">
                <button type="button" class="btn btn-purple">Sports</button>
              </a>
            </div>
            <div class="input-group">
              <a href="/#/chat/technology">
                <button type="button" class="btn btn-purple">Technology</button>
              </a>
            </div>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>
<main-footer></main-footer>
